# local .terraform dir
.terraform/*
.terraform*

# tf state files
*.tfstate
*.tfstate.*

# tf variables files
*.tfvars 

#others
plano
*.lock.hcl
k8s-cluster-config
observabilidade/telegram-secret.yaml
